In [2]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

In [3]:
bd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [4]:
def rentals_month(engine, month, year):
    query = f"""
    SELECT rental_id, customer_id, rental_date
    FROM rental
    WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year};
    """
    # Ejecutar la consulta SQL y convertir los resultados a un DataFrame de pandas
    df = pd.read_sql(query, engine)
    return df

In [5]:
def rental_count_month(df, month, year):
    # Agrupar por customer_id y contar los rentals
    rental_counts = df.groupby('customer_id')['rental_id'].count().reset_index()
    
    # Renombrar la columna con el formato solicitado
    rental_counts.rename(columns={'rental_id': f'rentals_{month:02d}_{year}'}, inplace=True)
    
    return rental_counts

In [6]:
def compare_rentals(df1, df2):
    # Combinar ambos DataFrames por customer_id
    merged_df = pd.merge(df1, df2, on='customer_id', how='outer', suffixes=('_month1', '_month2'))
    
    # Llenar valores NaN con 0 (en caso de que algún cliente no tenga alquileres en un mes)
    merged_df.fillna(0, inplace=True)
    
    # Crear la columna de diferencia entre ambos meses
    merged_df['difference'] = merged_df.iloc[:, 1] - merged_df.iloc[:, 2]
    
    return merged_df

In [7]:
rentals_may = rentals_month(engine, 5, 2005)
rentals_june = rentals_month(engine, 6, 2005)
    
# Contar los alquileres por cliente en mayo y junio
rental_counts_may = rental_count_month(rentals_may, 5, 2005)
rental_counts_june = rental_count_month(rentals_june, 6, 2005)

# Comparar alquileres entre mayo y junio
comparison_df = compare_rentals(rental_counts_may, rental_counts_june)

comparison_df

     customer_id  rentals_05_2005  rentals_06_2005  difference
0              1              2.0              7.0        -5.0
1              2              1.0              1.0         0.0
2              3              2.0              4.0        -2.0
3              4              0.0              6.0        -6.0
4              5              3.0              5.0        -2.0
..           ...              ...              ...         ...
593          595              1.0              2.0        -1.0
594          596              6.0              2.0         4.0
595          597              2.0              3.0        -1.0
596          598              0.0              1.0        -1.0
597          599              1.0              4.0        -3.0

[598 rows x 4 columns]